<!--members.vtl-->
<h1>Team Member list!</h1>
  <ul>
    #foreach ($member in $team)
      <li>$member.getMemberName()</li>
    #end
  </ul>
#else
  <p>No members!</p>
#end

<a href="/teams/:id/members/new">Add New Member</a>
<!--members.vtl-->
